html {
    background-color: #223;
  }

  body {
    background: #223 !important;
    font-family: 'EB Garamond', serif;
    text-shadow: -.5px 0 rgb(82, 82, 82), 0 .5px rgb(82, 82, 82), .5px 0 rgb(82, 82, 82), 0 -.5px rgb(82, 82, 82);
    height: 50px;
    font-size: 200%;
    color: white;
    text-decoration: none;
  }

  div {
    margin-left: 5%;

  }

  h1 {
    color: #FFF;

  }

  p {
    padding-bottom: 0rem;
  }

  a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    cursor: pointer;
}
.hvr-grow {
    vertical-align: middle;
    transform: translateZ(0);
    display: inline-block;
    transition-duration: 0.1s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.03);
}

#Header {
  font-family: 'EB Garamond', serif;
  background-color: #223;
  text-shadow: -.75px 0 rgb(82, 82, 82), 0 .75px rgb(82, 82, 82), .75px 0 rgb(82, 82, 82), 0 -.75px rgb(82, 82, 82);
  height: 50px;
  text-align: center;
  margin-top: 1REM;
  display: flex;
  justify-content: center;
  align-items: center;
}