html {
    background-color: #223;
  }

  body {
    background: #223 !important;
    font-family: 'EB Garamond', serif;
    text-shadow: -.5px 0 rgb(82, 82, 82), 0 .5px rgb(82, 82, 82), .5px 0 rgb(82, 82, 82), 0 -.5px rgb(82, 82, 82);
    height: 50px;
    font-size: 200%;
    color: white;
    text-decoration: none;
  }

  div {
    margin-left: 5%;

  }

  h1 {
    color: #FFF;

  }

  p {
    padding-bottom: 0rem;
  }